@import url(board.css);
@import url(menu.css);
@import url(modal.css);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: black;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#playerNames{
  display: flex;
}
#playerMark{
  display: none;
}
#game{
  display: none;
}
#errorMessageMarks{
  display: none;
}
#errorMessageNames{
  display: none;
}